body{
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-logo{
    font-size: 35px;
    font-weight: 500;
    position: relative;
    bottom: 23px;
    right: 129px;
}
@media (min-width:768px){
    .page-logo{
        right:57px
    }
}
.page-logo-paragraph{
    margin-top: 32px;
    margin-left: -19.5rem;
}
@media (min-width:768px){
    .page-logo-paragraph{
    margin-left: -9.5rem;
        
    }
}